.list-mess {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 15px 50px;
  overflow-y: auto;
  justify-content: flex-end;
  background: var(--bg-color);
  .mess {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80%;
    gap: 0 5px;
    .content {
      font-size: 16px;
      border-radius: 50px;
      padding: 10px 15px;
      word-wrap: break-word;
    }
    .btn-setting {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        color: gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      .btn-delete {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border-radius: 50px;
        background: var(--sec-color);
        color: rgb(224, 8, 8);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        font: {
          size: 14px;
          weight: 500;
        }
        svg {
          color: red;
          width: 16px;
          height: 16px;
        }
      }

      &:hover {
        .btn-delete {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.sender {
      align-self: flex-end;
      .content {
        background: var(--main-color);
        color: white;
      }
    }
    &.reciever {
      align-self: flex-start;
      .content {
        background: var(--sec-color);
        color: rgb(66, 66, 66);
      }

      .btn-setting {
        display: none;
      }
    }
  }
}
